

@media(max-width:1195px){
    .telaLogin__container{
        height: 100%;
        flex-direction: column;
        padding: 100px 0;
    }

    .telaLoggedIn__container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        height: 100vh;
        background: #e6e6e6;
        background-image: url('../../../public/assets/img/background-image.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        padding: 1rem;
    }
    
    .telaLoggedIn__container .tituloLoggedIn{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 30%;
    }

    #login{
        margin-bottom: 1rem;
    }

    .telaLogin__container .barraLateral:nth-child(2){
        height: 0;
        width: 350px;
    }

    .cadastro__container{
        display: flex;
        flex-direction: column;
    }

    .cidadeEstado__container{
        margin-bottom: 1rem;
    }
}
