
.telaLogin__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e6e6;
    background-image: url('../../../public/assets/img/background-image.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.telaLoggedIn__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background: #e6e6e6;
    background-image: url('../../../public/assets/img/background-image.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    padding: 1rem;
}

.telaLoggedIn__container .tituloLoggedIn{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 22%
}

.telaLoggedIn__container button{
    width: 40%;
}

.login__container {
    max-width: 31.25rem;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
}

.login__form--container{
    margin-bottom: 1rem;
}

.login__container .titulo, .cadastro__container .titulo{
    margin: 35px;
}

.password-container{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.password-container-register{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.password-container-register button{
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}

.login__form--container button{
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}


.cadastro__container{
    max-width: 700px;
    padding: 20px;
}

.cadastro__form--container{
    display: flex;
    margin-bottom: 1rem;
}

.cadastro--ladoDireito{
    margin-right: 10px;
}

.sobrenomeESexo__container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

.selected{
    height: 2rem;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 5px;
}

.cidadeEstado__container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

.estado_container{
    display: flex;
    flex-direction: column;
}

#estados{
    padding: 0.5rem 1rem;
    margin-bottom: 4px;
    border-radius: 5px;
}

