
.resumoCompra__container{
    height: 100%;
    max-width: 100%;
    margin: 0 20px;
}

.resumoCompra__informacao{
    text-align: start;
}

.resumoCompra__informacao{
    margin: 550px 30px 10px 30px ;
    border-bottom: 1px solid #111;
}

.resumoCompra__informacao p{
    margin-bottom: 10px;
}

.resumoCompra__informacao--negrito {
    font-weight: 800;
}