/* Banner */
a{
    text-decoration: none;
}

@media (height: 720px) and (width: 1280px){
    .container-banner{
        margin-top: 5rem
    }
}

@media (height: 800px) and (width: 1280px){
    .container-banner{
        margin-top: 3rem
    }
}

@media (max-width: 1024px) {
    .container-banner {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/background-image.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .container-banner-image img {
        max-height: 27.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .container-banner-text{
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-left: 1rem;
        flex-direction: column;
        margin-top: 2rem;
        padding: 1rem;
    }

    .container-banner-text h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 3rem;
    }

    .container-banner-text p {
        font-family: 'Poppins';
        font-size: 1rem;
    }

    .container-banner-text a {
        display: inline-block;
        font-family: 'Poppins';
        font-size: 1.1rem;
        padding: 1rem 3rem 1rem 3rem;
        width: 50%;
        background: #111;
        color: #fff;
        border-radius: 5px;
        transition: all 0.5s ease;
        text-align: center;
    }

    .container-banner-text a:hover {
        transform: scale(1.05);
        color: #f9004d;
    }

}

@media (min-width: 1024px) {
    .container-banner {
        height: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #e6e6e6;

        background-image: url('../../assets/background-image.svg');
        background-repeat: no-repeat;
        background-position: center bottom calc(0.375em + 0.1rem);
        background-size: 100%;
    }

    .container-banner-text h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 5rem;
        line-height: 76px;
        margin-bottom: 20px;
    }

    .container-banner-text p {
        font-family: 'Poppins';
        line-height: 30px;
        color: #111;
    }

    .container-banner-text a {
        display: inline-block;
        font-family: 'Poppins';
        font-size: 1.1rem;
        padding: 1rem 3rem 1rem 3rem;
        margin-top: 1rem;
        background: #111;
        color: #fff;
        border-radius: 5px;
        transition: all 0.5s ease;
    }

    .container-banner-text a:hover {
        transform: scale(1.05);
        color: #f9004d;
    }

    .container-banner-image{
        height: 80%;
        margin-top: 6rem;
    }

    .container-banner-image img {
        height: 100%;
        border-bottom-left-radius: 60px;
        margin: 10px 0;
    }
}

/* Categorias */

.container-categorias{
    background: #e6e6e6;
}

@media screen and (max-width: 1024px){
    .container-categorias {
        font-family: 'Poppins';
        padding: 119px 0;
    }
    
    .categorias-title {
        font-family: 'Frank Ruhl Libre';
        font-size: 3.75rem;
    }
    
    .container-categorias-text {
        text-align: center;
        margin: 2rem;
    }
    
    .categorias-text {
        padding-top: 20px;
    }
    
    .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }
    
    .categoria {
        position: relative;
        padding: 20px 0;
        transition: all 0.5s ease;
    }
    
    .categoria:hover {
        transform: scale(1.1);
        color: #f9004d;
    }
    
    .categoria img {
        height: 407px;
        width: 326px;
        object-fit: cover;
    }
    
    .categoria-name {
        position: absolute;
        font-weight: bolder;
        font-family: 'Poppins';
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        background: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
        width: 100%;
        max-width: 254px;
    }
}

@media screen and (min-width: 1024px) {
    .container-categorias {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-family: 'Poppins';
        height: 90vh;
    }

    .categorias-title {
        font-family: 'Frank Ruhl Libre';
        font-size: 3.75rem;
    }

    .container-categorias-text {
        text-align: center;
    }

    .categorias-text{
        margin-top: 1rem;
    }

    .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .categoria {
        margin-left: 30px;
        position: relative;
        padding: 20px 0;
        transition: all 0.5s ease;
    }

    .categoria:hover {
        transform: scale(1.1);
        color: #f9004d;
    }

    .categoria img {
        height: 407px;
        width: 326px;
        object-fit: cover;
    }

    .categoria-name {
        position: absolute;
        font-weight: bolder;
        font-family: 'Poppins';
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
        background: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
        width: 100%;
        max-width: 254px;
    }
}

/* Novidades */

.btn-aproveite {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn-aproveite:hover {
    background-color: #f9004d;
}

@media screen and (max-width: 767px) {
    .container-novidades {
        background-color: rgb(46, 46, 46);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    .novidades-title {
        font-family: 'Frank Ruhl Libre';
        font-size: 3.75rem;
        margin-top: 3rem;
    }

    .novidades-text {
        font-family: 'Poppins';
        margin: 2rem 0;
    }

    .btn-aproveite {
        padding: 19px 49px;
        font-size: 12px;
    }

    .container-produto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 768px) {


    .container-novidades {
        background-color: rgb(46, 46, 46);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    .novidades-title {
        font-family: 'Frank Ruhl Libre';
        font-size: 3.75rem;
        margin-top: 3rem;
    }

    .novidades-text {
        font-family: 'Poppins';
        margin: 2rem 0;
    }

    .btn-aproveite {
        padding: 19px 49px;
        font-size: 12px;
    }

    .container-produto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 1024px) {
    .container-novidades {
        height: 100vh;
        background-color: rgb(46, 46, 46);
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .novidades-title {
        font-family: 'Frank Ruhl Libre';
        font-size: 3.75rem;
    }

    .novidades-text {
        font-family: 'Poppins';
        margin: 81px 0;
    }

    .btn-aproveite {
        padding: 19px 49px;
        font-size: 12px;
    }

    .container-produto {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        margin-bottom: 10rem;
    }
}

/* Ofertas */

.melhoresOfertas{
    background: #e6e6e6;
    background-image: url('../../assets/background-image.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

@media screen and (max-width: 768px) {
    .ofertas-title {
        font-family: 'Frank Ruhl Libre';
        text-align: center;
        font-size: 3.75rem;
    }
    
    .container-ofertas-text {
        font-family: 'Poppins';
        text-align: center;
        margin: 30px 1rem 50px;
    }
    
    .melhoresOfertas {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        box-sizing: border-box;
    }
    
    .container-melhoresOfertas {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 3rem;
        justify-items: center;
    }
}

@media screen and (min-width: 768px){
    .ofertas-title {
        font-family: 'Frank Ruhl Libre';
        text-align: center;
        font-size: 3.75rem;
    }
    
    .container-ofertas-text {
        font-family: 'Poppins';
        text-align: center;
        margin: 30px 1rem 50px;
    }
    
    .melhoresOfertas {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 4rem 2rem 8rem 2rem;
        box-sizing: border-box;
    }
    
    .container-melhoresOfertas {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .ofertas-title {
        font-family: 'Frank Ruhl Libre';
        text-align: center;
        font-size: 3.75rem;
    }
    
    .container-ofertas-text {
        font-family: 'Poppins';
        text-align: center;
        margin: 30px 0 50px;
    }
    
    .melhoresOfertas {
        width: 100%;
    }
    
    .container-melhoresOfertas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 6rem;
        justify-items: center;
    }
}

@media screen and (min-width: 1600px){
    .ofertas-title {
        font-family: 'Frank Ruhl Libre';
        text-align: center;
        font-size: 3.75rem;
    }
    
    .container-ofertas-text {
        font-family: 'Poppins';
        text-align: center;
        margin: 30px 0 50px;
    }
    
    .melhoresOfertas {
        width: 100%;
    }
    
    .container-melhoresOfertas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 6rem;
        justify-items: center;
    }
}