@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    padding: 100px 0;
    min-height: 85vh;
    background: #e6e6e6;
    background-image: url('../../../public/assets/img/background-image.svg');
    background-repeat: no-repeat;
    background-position: center bottom 0;
    background-size: 100%; 
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    --grey: rgba(46, 46, 46, 1);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    margin: 3rem 1.2rem;
    font-family: Lato;
    font-size: 12pt;
    gap: 0.2rem;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 140px;
}

.filterOption{
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    border-bottom: 1px solid rgba(46, 46, 46, 0.3);
}

.filterOption:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    color: #f9004d;
}

.selectCorBox{
    border-radius: 5px;
    padding: 0.5rem 0.1rem 0.5rem 1rem;
    opacity: 0.7;
    text-align: left;
}

.selectCorBox::after {
    content: '▼';
    font-size: 8pt;
    margin-left: 4rem;
}

.colorOptions{
    text-align: center;
    padding-bottom: 0.8rem;
}

.colorOption {
    margin-top: 0.5rem;
    font-weight: 400;
    width: 140px;
    cursor: pointer;
  }

.colorOption:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    color: #f9004d;
}

.colorOptionSelected {
    margin-top: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 140px;
    font-weight: 400;
    background-color: var(--grey);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #f9004d;
}

.colorOptionSelected:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}



.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    width: 880px;
    margin: 3rem 0;
    gap: 1rem;
}