
.informacoesEntrega__container{
    height: 100%;
    margin: 0 50px;
    max-width: 31.25rem;
}

.inputCEP--largura{
    width: 36%;
}

.opcoesTipoEntrega{
    background-color: white;
    border-radius: 10px;
    padding: 0 30px;
    margin: 16px 0;
}

.opcoesTipoEntrega h1{
    font-weight: 800;
    text-align: center;
    margin: 10px 0;
}

.opcoesTipoEntrega__label{
    display: block;
    margin: 10px 0;
}

.opcoesTipoEntrega__label--negrito{
    font-weight: 800;
}


