@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

i:hover {
    color: #f9004d;
}

.logo {
    margin-left: 1rem;
    max-height: 55px;
    height: 90%;
    width: 90%;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 46, 46);
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.navbar-items {
    display: flex;
    gap: 4.5rem;
    font-family: 'Poppins';
}

.navbar-items li {
    list-style: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar-items li:hover {
    color: #f9004d;
}

.btn-login {
    padding: 8px 20px;
    font-size: 12px;
    cursor: pointer;
}

.btn-navbar {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-navbar:hover {
    transform: scale(1.05);
}

.btn-branco {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s ease;
}

.btn-branco:hover {
    background-color: #f9004d;
}

.btn-produto {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-button {
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 0.5rem;
}

.btn-menu{
    border: 1px solid rgb(28, 28, 28);
    border-radius: 6px;
    padding: 0.2rem 0.4rem;
    background-color: inherit;
    display: none;
}

@media (max-width: 1024px){
    .navbar-container {
        position: relative;
    }

    .logo{
        width: 60%;
    }

    .responsive-navbar{
        display: flex !important;
    }

    .navbar-container .menu{
        position: absolute;
        top: 100%;
        left: 0;
        height: 210%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        background-color: rgb(55, 55, 55);
        gap: 1rem;
        display: none;
    }

    .navbar-items{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
    }

    .container-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        margin: 0;
    }

    .container-button button {
        margin-left: 0;
        cursor: pointer;
    }

    .btn-menu{
        border: 1px solid rgb(28, 28, 28);
        border-radius: 6px;
        padding: 0.2rem 0.4rem;
        background-color: inherit;
        display: block;
    }

    .btn-login{
        margin: 1rem 0.4rem !important;
    }

    .nav-close-btn{
        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
    }
}