@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

.container-banner{
    background-color: #e6e6e6;
}
a{
    text-decoration: none;
}

@media (max-width: 1024px) {
    .container-banner {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../../public/assets/img/background-image.svg');
        background-repeat: no-repeat;
        background-position: center bottom 0;
    }

    .container-banner-image img {
        max-height: 27.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .container-banner-text{
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-left: 1rem;
        flex-direction: column;
        margin-top: 2rem;
        padding: 1rem;
    }

    .container-banner-text h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 3rem;
    }

    .container-banner-text p {
        font-family: 'Poppins';
        font-size: 1rem;
    }

    .container-banner-text a {
        display: inline-block;
        font-family: 'Poppins';
        font-size: 1.1rem;
        padding: 1rem 3rem 1rem 3rem;
        width: 50%;
        background: #111;
        color: #fff;
        border-radius: 5px;
        transition: all 0.5s ease;
        text-align: center;
    }

    .container-banner-text a:hover {
        transform: scale(1.05);
        color: #f9004d;
    }

}

@media (min-width: 1024px) {
    .container-banner {
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #e6e6e6;

        background-image: url('../../../../public/assets/img/background-image.svg');
        background-repeat: no-repeat;
        background-position: center bottom calc(0.375em + 0.1rem);
        background-size: 100%;
    }

    .container-banner-text h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 5rem;
        line-height: 76px;
        margin-bottom: 20px;
    }

    .container-banner-text p {
        font-family: 'Poppins';
        line-height: 30px;
        color: #111;
    }

    .container-banner-text a {
        display: inline-block;
        font-family: 'Poppins';
        font-size: 1.1rem;
        padding: 1rem 3rem 1rem 3rem;
        margin-top: 1rem;
        background: #111;
        color: #fff;
        border-radius: 5px;
        transition: all 0.5s ease;
    }

    .container-banner-text a:hover {
        transform: scale(1.05);
        color: #f9004d;
    }

    .container-banner-image{
        height: 70%;
    }

    .container-banner-image img {
        height: 100%;
        border-bottom-left-radius: 60px;
        margin: 10px 0;
    }
}