@media(max-width:950px){
    .container-main {
        height: 100%;
        flex-direction: column;
        padding: 100px 0;
    }

    .divider{
        height: 0;
        width: 350px;
    }
    
}

@media(max-width:384px){
    .title {
        font-size: 2.1rem;
    }
}