@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #e6e6e6;
    background-image: url('../../../public/assets/img/background-image.svg');
    background-repeat: no-repeat;
    background-position: center bottom calc(0.375em + 9.2rem);
    background-size: 100%;
}

.container-main{
  height: 85vh;
  margin-top: 2.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container-login, .container-cadastro{
    width: 100%;
    max-width: 25rem;
    padding: 0 10px;
    max-height: 37rem;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.a-esqueciSenha{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
}

.a-esqueciSenha:hover{
    color: #f9004d;
}


.divider{
    border: 1px solid #2e2e2e;
    transform: rotate(-180deg);
    height: 350px;
}

/* Mobile Version */

@media(max-width:950px){
    .container-main {
        height: 100%;
        flex-direction: column;
        padding: 100px 0;
    }

    .divider{
        height: 0;
        width: 350px;
    }
    
}

@media(max-width:384px){
    .title {
        font-size: 2.1rem;
    }
}