@media screen and (max-width: 1024px) {
    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        height: 150px;
        background-color: rgb(46, 46, 46);
        width: 100%;
    }
    
    .container-footer .nav {
        width: 100%;
    }
    
    .container-footer .navbar-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }
    
    .container-footer .navbar-item {
        padding: 0.3rem;
    }
    
    .container-footer p {
        color: #fff;
        font-size: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        height: 150px;
        background-color: rgb(46, 46, 46);
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
    .container-footer .nav {
        width: 100%;
    }
    
    .container-footer .navbar-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }
    
    .container-footer .navbar-item {
        padding: 0.3rem;
    }
    
    .container-footer p {
        color: #fff;
        font-size: 8px;
    }
}
