.TelaCheckout__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 7rem;
}

@media screen and (max-width: 1024px){
    .TelaCheckout__container{
        padding: 2rem 0rem;
    }
}

.checkoutInfo__container{
    margin-right: 2rem;
    height: 25rem;
}

.checkoutInfo__container .titulo{
    margin-bottom: 3rem;
}

.perguntaCadastro__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.perguntaCadastro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.perguntaCadastro__p{
    font-weight: bolder;
    margin: auto;
    padding-right: 1rem;
}

.perguntaCadastro .button{
    width: 17.56rem;
}


.opcoesPagamento{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px;
}

.boleto__img{
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.heading{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.informacoesEntrega__aviso{
    color: #121214;
}

.informacoesEntrega{
    height: 25rem;
    max-width: 500px;
    padding: 0 1rem;
}

.informacoesEntrega__divCEP--largura{
    width: 36%;
}

.resumoCompra{
    height: 100%;
    max-width: 100%;
    margin: 0 1.2rem;
}

.resumoCompra .titulo{
    margin: 6rem 0 2.5rem 0;
}


.resumoCompra__listaProdutos{
    margin: 0 auto;
    max-width: 23.69rem;
    min-height: 24rem;
    max-height: 32rem;
    overflow: auto;
}

.resumoCompra__listaProdutos::-webkit-scrollbar{
    background-color: white;
    width: 10px;
    border-radius: 5px;
}

.resumoCompra__listaProdutos::-webkit-scrollbar-thumb{
    background-color: #5b5b5b;
    border-radius: 5px;
}

.resumoCompra__listaProdutos .cart-produto-container{
    background-color: white;
}

.resumoCompra__listaProdutos .cart-produto-container:not(:first-child){
    margin-top: 1rem;
}


.resumoCompra__informacao{
    margin-top: 1.5rem;
    border-bottom: 1px solid #111;
}

.resumoCompra__informacao p{
    margin-bottom: 10px;
}

.resumoCompra__informacao--negrito {
    font-weight: 800;
}





