@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&family=Poiret+One&display=swap');

/* Desktop Version */

@media (min-width: 1024px) {

    .productContainer {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 3rem;
        margin-top: 100px;
    }

    .productImageContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 50%;
        height: 90%;
        margin-top: 3rem;
    }

    .productImage {
        height: 100%;
        width: 65%;
        object-fit: cover;
    }

    .productDetailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        margin-top: 3rem;
        gap: 0.5rem;
    }

    .productName {
        font-family: 'Frank Ruhl Libre', serif;
        text-transform: uppercase;
        font-size: 18pt;
        font-weight: bold;
    }

    .productPrice {
        display: flex;
        gap: 0.4rem;
    }

    .price {
        font-family: 'Lato', sans-serif;
        font-weight: 800;
    }

    .installments {
        font-family: 'Poppins';
        font-weight: 600;
        opacity: 0.7
    }

    .sizeContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .sizeText {
        font-family: 'Lato', sans-serif;
        opacity: 0.6;
        font-size: 13pt;
    }

    .sizeOptions {
        width: 10%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("/public/assets/icons/down-arrow.svg");
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 90% center;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0.3rem 0.6rem;
        font-family: 'Poppins';
        font-size: 10pt;
    }

    .sizeOption {
        font-family: 'Lato', sans-serif;
        font-size: 12pt;
        background-color: inherit;
        font-weight: bold;
        border: 1px solid rgba(46, 46, 46, 0.3);
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        border-radius: 7px;
        cursor: pointer;
    }

    .sizeOption:hover {
        transform: scale(1.07);
    }

    .addProduct {
        background-color: rgba(46, 46, 46, 1);
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 12pt;
        font-weight: 600;
        border: none;
        width: 35%;
        padding: 0.8rem;
        border-radius: 6px;
        box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .addProduct:hover {
        transform: scale(1.04);
        transition: transform 0.2s ease-in-out;
        box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
    }
}

/* Mobile Version */

@media (max-width: 1024px) {
    .productContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        min-height: 100vh;
    }

    .productImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .productImage {
        width: 80%;
        object-fit: cover;
    }

    .productDetailsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 0.3rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .productName {
        font-family: 'Frank Ruhl Libre', serif;
        text-transform: uppercase;
        font-size: 16pt;
        font-weight: bold;
    }

    .productPrice {
        display: flex;
        gap: 0.3rem;
    }

    .price {
        font-family: 'Lato', sans-serif;
        font-weight: 800;
    }

    .installments {
        font-family: 'Poppins';
        font-weight: 600;
        opacity: 0.7
    }

    .sizeContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .sizeText {
        font-family: 'Lato', sans-serif;
        opacity: 0.6;
        font-size: 13pt;
    }

    .sizeOptions {
        width: 20%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("/public/assets/icons/down-arrow.svg");
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: 90% center;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0.3rem 0.6rem;
        font-family: 'Poppins';
        font-size: 10pt;
    }

    .sizeOption {
        font-family: 'Lato', sans-serif;
        font-size: 12pt;
        background-color: inherit;
        font-weight: bold;
        border: 1px solid rgba(46, 46, 46, 0.3);
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        border-radius: 7px;
        cursor: pointer;
    }

    .sizeOption:hover {
        transform: scale(1.07);
    }

    .addProduct {
        background-color: rgba(46, 46, 46, 1);
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 12pt;
        font-weight: 600;
        border: none;
        width: 60%;
        padding: 0.8rem;
        border-radius: 6px;
        box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .addProduct:hover {
        transform: scale(1.04);
        transition: transform 0.2s ease-in-out;
        box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3);
    }
}

.sizeOption:active,
.sizeOption:focus {
    background-color: #f9004d;
    color: #fff;
}

.addProduct:active {
    background-color: #f9004d;
    color: #fff;
}

/* Footer */

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 150px;
    background-color: rgb(46, 46, 46);
    width: 100%;
}

.container-footer .nav {
    width: 100%;
}

.container-footer .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.container-footer .navbar-item {
    padding: 0.3rem;
}

.container-footer p {
    color: #fff;
    font-size: 8px;
}